@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Lato:wght@400;700&display=swap');

:root {
    font-size: 62.5%;
    --dark-blue: #030641;
    --light-blue: #00C2FF;
    --light-grey: #D9D9D9;
    --dark-grey: #9A9A9A;
}

body {
    font-family: 'Lato:wght@400', sans-serif;
    font-size: 1.8rem;
    color: var(--dark-blue);
    margin: 0px;
}

a {
    color: white;
}

a:hover {
    color: var(--light-blue);
}

h1 {
    font-family: 'EB+Garamond:wght@700', serif;
    font-size: 3.6rem;
}

h2 {
    font-family: 'Lato:wght@700', sans-serif;
    font-size: 2.6rem;
    margin: 0px;
}

/*start of main nav*/
nav menu li {
    list-style: none;
    margin-right: 90px;
}

nav menu button + menu li {
    margin-right: 0px;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
    align-items: center;
}

header nav {
    background-color: var(--dark-blue);
    padding: 20px
}

button {
    background-color: var(--dark-blue);
    border: none;
    color: white;
    font-family: 'Leto:wght@400', sans-serif;
    font-size: 2rem;
    padding: 14px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    display: block;
}

button:hover {
    color: var(--light-blue);
}

.button-primary {
    background-color: var(--light-blue);
    border: none;
    color: white;
    font-family: 'Leto:wght@400', sans-serif;
    font-size: 2rem;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    display: block;
}

.button-primary:hover {
    outline: 3px solid white;
    color: white;
}

/*for top section Contact button*/
.button-secondary {
    background-color: none;
    border: none;
    color: var(--light-blue);
    font-family: 'Leto:wght@400', sans-serif;
    font-size: 2rem;
    padding: 7px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    outline: 3px solid var(--light-blue);
    margin: 15px 15px 15px 0px;
}

.button-secondary:hover {
    background-color: var(--light-blue);
    color: white;
}
/*end top section contact button*/

header nav menu a {
    text-decoration: none;
    font-family: 'Leto:wght@400', sans-serif;
    font-size: 2rem;
}

header nav menu li menu li {
    padding: 8px;
}

/* @media is for resizing screen */
@media (min-width: 1062px) {
    header nav menu li:hover button + menu {
        display: block;
        position: absolute;
        background-color: var(--dark-blue);
        color: white;
        padding: 15px;
        border-radius: 5px;
    }

    header nav menu menu {
        display: none;
    }

    #mobile-menu-button {
        display: none;
    }

}

@media (max-width: 1268px) {
    header nav .button-primary {
        display: none;
    }
}

@media (max-width: 1062px) {
    header nav menu {
        flex-direction: column;
        background-color: var(--dark-blue);
        width: 100%;
        align-items: start;
        padding: 0px;
    }

    a:hover {
        color: var(--dark-blue);
    }

    .qna:hover {
        color: var(--light-blue);
    }

    header nav {
        flex-wrap: wrap;
        padding: 0px;
    }

    header nav .logo {
        width: 100%;
        padding: 30px;
        display: block;
    }
    #mobile-menu-button {
        background-color: transparent;
    }

    #mobile-menu-button:hover {
        color: white;
    }

    header nav > div {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header nav menu menu {
        background-color: var(--light-blue);
    }

    header nav menu menu li {
        border-bottom: 2px solid var(--dark-blue);
        padding-left: 15px;
    }

    header nav menu li {
        width: 100%;
    }

    header nav menu li a, header nav menu li button {
        padding: 30px;
        display: block;
        font-size: 2.4rem;
        border-bottom: 2px solid var(--light-blue);
        width: 100%;
        border-radius: 0px;
        text-align: left;
    }
}
/*start of main nav*/

/* start top section */
#top-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: 60px auto;
    justify-content: space-around;
}

#top-section div {
    padding: 2%;
    width: 40%;
    box-sizing: border-box;
}

#top-section .top-image {
    width: 60%;
}
/* for anything smaller than 930px */
@media (max-width: 930px) {
    #top-section .top-image {
        width: 100%;
        order: -1; 
    }
    #top-section div {
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 1062px) {
    .button-secondary {
        background-color: var(--light-blue);
        border: none;
        color: white;
        font-family: 'Leto:wght@400', sans-serif;
        font-size: 2rem;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
    }
}
/* end top section */

/* start announcement section */
#announcements {
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  margin: 60px auto;
  justify-content: space-around;
}

#announcements blockquote {
  background-color: var(--dark-blue);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: around;
  padding: 40px 25px 40px 25px;
  border-radius: 5px;
}

#announcements button {
  background-color: transparent;
}

#announcements div {
  display: flex;
}

#announcements figure {
  margin-left: -40px;
  margin-right: -40px;
}

@media (max-width: 930px) {
  #announcements figure {
    width: 100%;
    margin: 0px;
  }
  #announcements blockquote {
    margin: 0px;
  }
}
/* end announcement section */

/* start Q&A */
#qna-section {
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  margin: 60px auto;
  justify-content: space-around;
}

#qna-section div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

#qna-section a {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: 10px;
}

.more-qs {
  color: var(--light-blue);
}

.faq-question {
  margin: 10px 0px;
}

.faq-question button {
  background-color: transparent;
  color: var(--dark-blue);
  outline: 3px solid var(--dark-grey);
  width: 100%;
  text-align: left;
  position: relative;
}

.faq-question button:hover {
  outline: 3px solid var(--light-blue);
}

.faq-question p {
  background-color: var(--dark-blue);
  color: white;
  padding: 30px;
  border-radius: 5px;
}

.faq-question button.closed::after {
  content: '\002B';
  position: absolute;
  right: 17px;
  bottom: 7px;
  color: var(--dark-blue);
  font-size: 30px;
}

.faq-question button.open::after {
  content: '\2212';
  position: absolute;
  right: 17px;
  bottom: 7px;
  color: var(--dark-blue);
  font-size: 30px;
}

.faq-question p {
  display: none;
}
/* end announcement section */

/* start footer */
footer {
  background-color: var(--dark-blue);
  color: white;
  padding: 50px;
}

footer nav > menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer a {
  color: var(--light-blue);
}

footer a:hover {
  color: white;
}

footer menu {
  padding: 0px;
}

footer menu li {
  margin-bottom: 10px;
  margin-right: 35px;
}

footer span {
  text-align: center;
  display: block;
}

/* About Us page */
.about-us h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 65px;
  font-size: 45px;
}

.about-us section h2 {
  color: var(--light-blue);
  font-size: 30px;
}

.about-us section {
  display: flex;
  align-items: flex-start;
  width: 80%;
  margin: 60px auto;
  justify-content: space-around;
}

.about-us section #travel-team {
  margin-left: 90px;
}

.about-us p {
  margin-right: 90px;
}

.about-us .button-secondary {
  display: inline-flex;
  justify-content: center;
}

/* Practice Schedule page */
.practice-schedule h1 {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 40px;
  font-size: 45px;
}

.practice-schedule table {
  display: flex;
  text-align: center;
  justify-content: space-around;
  border-collapse: collapse;
}

.practice-schedule #grey-row {
  background-color: var(--light-grey);
}

.practice-schedule #main-row {
  background-color: var(--light-grey);
  font-weight: 700;
}

.practice-schedule #spring-break {
  background-color: var(--light-blue);
  font-weight: 700;
}

.practice-schedule #schedule-after {
  background-color: var(--dark-blue);
  color: white;
  font-family: 'EB+Garamond:wght@700', serif;
  font-size: 23px;
}

.practice-schedule td {
  padding: 10px 65px 10px 65px;
}

.practice-schedule div {
  text-align: center;
  margin: 60px;
}

.practice-schedule a {
  margin: 0px;
}